@import url(https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,500;1,500&display=swap);
@font-face {
    font-family: 'Avara';
    src:    url('../fonts/Avara-Bold.woff2') format('woff2'),
            url('../fonts/Avara-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avara';
    src:    url('../fonts/Avara-BoldItalic.woff2') format('woff2'),
            url('../fonts/Avara-BoldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

.main > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    @apply max-w-[856px] mx-auto;
}

.alignwide {
    @apply max-w-[1300px];
}

.has-lg-font-size,
.has-xl-font-size,
.has-2-xl-font-size,
h2,
h1 {
    @apply font-display;
}

.wp-block-columns {
    @apply grid gap-7;
}

